{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<h6> Category: {{ post.get_category_display }} </h6>
<h3> Title: {{ post.title }} </h3>
<p> {{ post.created_date }} </p>

<p> {{ post.get_ownership_display }} | Original author: {{ post.creator }} </p>
<p> {{ post.content | safe}} </p>

<strong>
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'like_unlike' post.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" value="{{ post.slug }}" class="btn-like border-0" style="background-color: #e4ddce;">
            <i class="fa-solid fa-heart"></i></button>
        {% else %}
        <button type="submit" value="{{ post.slug }}" class="btn-like border-0"style="background-color: #e4ddce;">
            <i class="fa-regular fa-heart"></i></button>
        {% endif %}
    </form>
    {% else %}
    <span class="text-secondary"><i class="fa-regular fa-heart"></i></span>
    {% endif %}
</strong>

<span>{{ post.number_of_likes }}</span> &nbsp
<span><i class="fa-regular fa-comments"></i> {{ post.comments.count }}</span>

<br>
{% if request.user == post.author %}
    <span><a href="{% url 'post_update' post.slug %}" class="btn btn-sm btn-secondary">EDIT</a></span>
    <span><a href="{% url 'post_delete' post.slug %}" class="btn btn-sm btn-secondary">DELETE</a></span>
{% endif %}
<br><br>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col text-light rounded bg-dark p-2">
            <h5 class="m-0"><strong>Comments:</strong></h5>
        </div>
    </div>
</div>
    {% for comment in comments %}
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-4 border border-secondary rounded">
                    <strong>{{ comment.name }}</strong> wrote:
                    {{ comment.comment | linebreaks }}
                    <small> {{ comment.created_date }} </small>
                    {% if request.user.username == comment.name %}
                        <div class="row">
                            <div class="col">
                                    <span>
                                        <a href="{% url 'comment_update' slug=post.slug pk=comment.pk %}" class="btn btn-sm btn-secondary m-1">EDIT</a>
                                    </span>
                    <span><a href="{% url 'comment_delete' pk=comment.pk %}" class="btn btn-sm btn-secondary m-1">DELETE</a></span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                    <div class="alert alert-success {{ message.tags }} alert-dismissible fade show" role="alert" id="com">
                        We have received your comment and it is now awaiting approval.
                    </div>
                {% else %}
                    {% if user.is_authenticated %}
                            <div class="row justify-content-center">
                                <div class="col text-light rounded bg-dark p-2">
                                    <h4>Leave a comment:</h4>
                                    <p>Logged in as: {{ user.username }}</p>
                                    <form method="post" style="margin-top: 1.3em; text-align: left;">
                                        {{ comment_form | crispy }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary btn btn-signup">Comment</button>
                                    </form>
                                </div>
                            </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- JS FOR ALERT MESSAGES -->
<script>
    setTimeout(function () {
        let comments = document.getElementById('com');
        let comalert = new bootstrap.Alert(comments);
        comalert.close();
    }, 2200);
</script>

{% endblock %}