{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="m-4 p-2">
    <h2><strong>WordArt</strong></h2>
</div>

<!-- WORDART LIST -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="row justify-content-center">
                    {% for word in wordart_list %}
                    <div class="col-md-4" style="height: auto;">
                        <div class="card mb-4">
                            <div class="card-body rounded" style="border: 2px dotted #383c44; background-color: #e4ddce; height: 170px">
                                <div class="card_subtitle">
                                    <small> Category: {{ word.get_category_display }} </small>
                                </div>
                                <div class="card-title">
                                    <a href="{% url 'post_detail' word.slug %}" class="text-dark">
                                        <u><strong> {{ word.title }} </strong> by {{ word.creator }}</u>
                                    </a>
                                </div>
                                <br>
                                <div>
                                    <i class="fa-solid fa-heart"></i> {{ word.likes.count }} &nbsp;
                                    <i class="fa-solid fa-comments"></i> {{ word.number_of_comments }}
                                    <p><small> Post created on: {{ word.created_date }} by: {{ word.author }} </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}