{% extends "base.html" %}

{% block content %}

<h2>WordArt</h2>

<!-- FEED -->
{% for word in wordart_list %}
    <h6> Category: {{ word.get_category_display }} </h6>
    <a href="{% url 'post_detail' word.slug %}">
        <h3> Title: {{ word.title }} </h3>
    </a>
    <hr>
    <p> {{ word.content | safe}} </p>
    <p> {{ word.get_ownership_display }} | Original author: {{ word.creator }} </p>
    <hr>
    <i class="fa-solid fa-heart"></i> {{ word.number_of_likes }} &nbsp
    <i class="fa-solid fa-comments"></i> {{ word.comments.count }}
    <p> Created on: {{ word.created_date }} </p>
    <hr>
    <hr>
{% endfor %}

{% endblock %}